/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(#000000, #FFFFFF);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#name {
  color: #FFDF12;
  font-family: Helvetica, Arial, sans-serif;
  font-size: large;
  font-size: 100%;
  text-align: center;
  padding-top: 5vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

#accordionID {
  margin-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 5vh;
}

#currentActivities {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#collapseOne .card-body {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-left: 2.10vw;
  padding-right: 2.10vw;
}

#organizationExperience {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#collapseTwo .card-body {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-left: 2.10vw;
  padding-right: 2.10vw;
}

#committeeExperience {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#collapseThree .card-body {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-left: 2.10vw;
  padding-right: 2.10vw;
}

#achievements {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#collapseFour .card-body {
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  padding-left: 2.10vw;
  padding-right: 2.10vw;
}

.arrows {
  float: right;
}

#upForActivitiesImage {
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

#downForActivitiesImage {
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

#upForOrganizationImage {
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

#downForOrganizationImage {
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

#upForCommitteeImage {
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

#downForCommitteeImage {
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

#upForAchievementsImage {
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

#downForAchievementsImage {
  height: 50px;
  width: 50px;
  padding: 10px 10px;
  text-align: center;
  cursor: pointer;
  float: left;
}

.arrows .button:not(:last-child) {
  border-right: none;
}