<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!--------------------------------------------------------- Required meta tags --------------------------------------------------------------->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!----------------------------------------------------------------- CSS ------------------------------------------------------------------->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>ppwstory8</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />
</head>

<!----------------------------------------------------------------- HOMEPAGE ---------------------------------------------------------------------->

<body>
    <h1>
        <div id="name">Mohammad Saddam Mashuri</div>
    </h1>
    <div id="accordionID" class="accordion">
        <div class="card" id="first">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button id="currentActivities" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Current Activities
                    </button>
                    <div class="arrows">
                        <a class="button" id="upForActivities" onclick="arrowsForActivities()"><img
                                src="{% static 'Up.png'%}" id="upForActivitiesImage"></a>
                        <a class="button" id="downForActivities" onclick="arrowsForActivities()"><img
                                src="{% static 'Down.png'%}" id="downForActivitiesImage"></a>
                    </div>
                </h2>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionID">
                <div class="card-body">
                    Currently enrolled in Universitas Indonesia.
                </div>
            </div>
        </div>
        <div class="card" id="second">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button id="organizationExperience" class="btn btn-link collapsed" type="button"
                        data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Organizational Experience
                    </button>
                    <div class="arrows">
                        <a class="button" id="upForOrganization" onclick="arrowsForOrganization()"><img
                                src="{% static 'Up.png'%}" id="upForOrganizationImage"></a>
                        <a class="button" id="downForOrganization" onclick="arrowsForOrganization()"><img
                                src="{% static 'Down.png'%}" id="downForOrganizationImage"></a>
                    </div>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionID">
                <div class="card-body">
                    Member of student council in high school first year.
                </div>
            </div>
        </div>
        <div class="card" id="third">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button id="committeeExperience" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Committee Experience
                    </button>
                    <div class="arrows">
                        <a class="button" id="upForCommittee" onclick="arrowsForCommittee()"><img
                                src="{% static 'Up.png'%}" id="upForCommitteeImage"></a>
                        <a class="button" id="downForCommittee" onclick="arrowsForCommittee()"><img
                                src="{% static 'Down.png'%}" id="downForCommitteeImage"></a>
                    </div>
                </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionID">
                <div class="card-body">
                    No committee experience.
                </div>
            </div>
        </div>
        <div class="card" id="fourth">
            <div class="card-header" id="headingFour">
                <h2 class=" mb-0">
                    <button id="achievements" class="btn btn-link collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Achievements
                    </button>
                    <div class="arrows">
                        <a class="button" id="upForAchievements" onclick="arrowsForAchievements()"><img
                                src="{% static 'Up.png'%}" id="upForAchievementsImage"></a>
                        <a class="button" id="downForAchievements" onclick="arrowsForAchievements()"><img
                                src="{% static 'Down.png'%}" id="downForAchievementsImage"></a>
                    </div>
                </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionID">
                <div class="card-body">
                    Finalist in BIONIX 2018. Participated in Johor Bahru Science Olympiad 2017.
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function arrowsForActivities() {
            var card = $("#first");
            document.getElementById('upForActivities').onclick = function () {
                card.prev().insertAfter(card);
            }
            document.getElementById('downForActivities').onclick = function () {
                card.next().insertBefore(card);
            }
        }

        function arrowsForOrganization() {
            var card = $("#second");
            document.getElementById('upForOrganization').onclick = function () {
                card.prev().insertAfter(card);
            }
            document.getElementById('downForOrganization').onclick = function () {
                card.next().insertBefore(card);
            }
        }

        function arrowsForCommittee() {
            var card = $("#third");
            document.getElementById('upForCommittee').onclick = function () {
                card.prev().insertAfter(card);
            }
            document.getElementById('downForCommittee').onclick = function () {
                card.next().insertBefore(card);
            }
        }

        function arrowsForAchievements() {
            var card = $("#fourth");
            document.getElementById('upForAchievements').onclick = function () {
                card.prev().insertAfter(card);
            }
            document.getElementById('downForAchievements').onclick = function () {
                card.next().insertBefore(card);
            }
        }
    </script>


    <!------------------------------------------------------------------ JS ---------------------------------------------------------------------->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>