/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BODY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: linear-gradient(to left, #B9CBD9, #E9EAEC);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ HOME ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#name {
  text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
  color: #35526F;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: xx-large;
  font-size: 200%;
  text-align: center;
  padding-top: 5vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

#accordionID {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 5vh;
}

#currentActivities {
  color: #35526F;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#collapseOne .card-body {
  color: #35526F;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 15px;
  padding-left: 2.20vw;
  padding-right: 2.20vw;
}

#committeeExperience {
  color: #35526F;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#collapseTwo .card-body {
  color: #35526F;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 15px;
  padding-left: 2.20vw;
  padding-right: 2.20vw;
}

#achievements {
  color: #35526F;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#collapseThree .card-body {
  color: #35526F;
  font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-size: 15px;
  padding-left: 2.20vw;
  padding-right: 2.20vw;
}